.navbar {
    @apply fixed top-0 w-full bg-background/10 backdrop-blur-lg border-b border-border/20 z-50 transition-all duration-500 ease-in-out;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px; /* adjust width as needed */
  }
  
  .toolbar {
    @apply border-none bg-transparent py-4;
  }